@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Libre+Bodoni:wght@500&family=Montserrat+Alternates&family=Montserrat:wght@100&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  nav{
    display: flex;
    height: 150px;
    align-items: center;
        


  }

  nav .logo{
      width: 30%;
      margin-left: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 0.8rem;
  }
nav .navmenu{
    width: 40%;
    position: relative;
   
}

nav .navmenu a{
    margin-left: 30px;
    color:rgb(65,65,65,.8);
}

.logo p:nth-child(1){
    color: #D14200;
    font-size: 45px;
    font-family:'libre baskerville',serif;
    letter-spacing:normal;
    font-weight: 100;
   
}
.logo p:nth-child(2){
    color: black;
    font-size: 16px;
    position: relative;
    bottom: 20%;
    font-family: 'libre baskerville',serif;
    color:rgb(65,65,65, .8);
    font-weight: 200;
    letter-spacing: normal;
    font-weight: 100;
    

}

.about{
    display: flex;
    justify-content: center;
}

.about .aboutleft{
    width: 45%;
    background-color: rgba(240,213,201,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutleft img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.about .aboutright{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.me{
    font-size: 16;
    line-height: 1.6em;
    color: rgba(65,65,65,.8);
    text-align: start;
    margin-left: 20px;
}

.inner{
    margin-left: 20px;
}

.inner h1{
    font-size: 48px;
    color: #414141;
}

.inner p{
    color: rgb(65,65,65, .8);

}

footer{
    display: flex;
    justify-content: space-evenly;
    color:gainsboro;
    background-color: #414141;
}

.footerleft{
    width: 20%;
    margin-top: 40px;
    
}

.contactForm{
    width: 50%;
}

.questions{
    position: relative;
    right: 25%;
}

.contactus{
    position: relative;
    right: 35%;
}