{% extends 'base.html'%}
{%block content%}
<div class="upperpart">
    <div class="upperpart1">
        <img src="../static/img/home1.jpeg" alt="">
    </div>
   

    <div class="cardTop">
        <h2>My Thoughts</h2>
       
        <div class="topImage">
            <img src="../static/img/Tinnacriss.jpeg" >

        </div>
        <div class="details">
            <h4>Detoxing my social media feed</h4>
            <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>

        </div>
            <div class="allblogs">
                <p><a href="{{url_for('blogs')}}">All Post</a></p>
            </div>
       
        
        
        </div>
        
          

</div>
<div class="container recentPost">
    <h2>Recents Post</h2>


                    <div class="blogCard">

                    <div class="cardImage">
                        <img src="../static/img/Tinnacriss.jpeg" >
                    </div>

                    <div class="blogCard2">
                        <div class="blogdetails">
                            <small>{{blogs[2].time_posted.strftime('%B %d, %Y')}} .2min</small>

                            <!-- <h4>Detoxing my social media feed</h4> -->
                            <h4>{{blogs[2].title}}</h4>
                            <!-- <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p> -->
                            <p> <a href="{{url_for('post', post_id=blogs[2].id)}}">{{blogs[2].sub_title}}continue reading...</a></p>
    
                        </div>
                        <hr>
                        <small>0 comments</small>
                            
                        
                        </div>
                    </div>

                    <!-- second blog -->

                    <div class="blogCard">

                        <div class="cardImage">
                            <img src="../static/img/Tinnacriss.jpeg" >
                        </div>
    
                        <div class="blogCard2">
                            <div class="blogdetails">
                                <small>{{blogs[1].time_posted.strftime('%B %d, %Y')}} .2min</small>
    
                                <!-- <h4>Detoxing my social media feed</h4> -->
                                <h4>{{blogs[1].title}}</h4>
                                <!-- <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p> -->
                                <p> <a href="{{url_for('post', post_id=blogs[1].id)}}">{{blogs[1].sub_title}}continue reading...</a></p>
        
                            </div>
                            <hr>
                            <small>0 comments</small>
                                
                            
                            </div>
                        </div>
                    
                    
                

                    
                      
</div>           
                    
<section class="home-newsletter">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div class="single">
            <h2>Join the Conversations</h2>
            <p>Get the content you need, just when you need it</p>
            <form action="{{url_for('home')}}" method="POST">
            <input type="email" class="form-control" placeholder="Enter your email" name="email" >
             <span class="input-group-btn">
             <button class="btn btn-theme" type="submit">Subscribe</button>
             </span>
             
              </div>
            </form>

        </div>
    </div>
    </div>
    </div>
    </section>
{%endblock%}




