{% extends 'base.html'%}
{%block content%}
<div class="upperpart">
    <div class="upperpart1">
        <img src="../static/img/home1.jpeg" alt="">
    </div>
   

    <div class="cardTop">
        <h2>My Thoughts</h2>
       
        <div class="topImage">
            <img src="../static/img/Tinnacriss.jpeg" >

        </div>
        <div class="details">
            <h4>Detoxing my social media feed</h4>
            <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p>

        </div>
            <div class="allblogs">
                <p><a href="{{url_for('blogs')}}">All Post</a></p>
            </div>
       
        
        
        </div>
        
          

</div>
<div class="container recentPost">
    <h2>Recents Post</h2>
    {%for blog in blogs%}

                    <div class="blogCard">

                    <div class="cardImage">
                        <img src="../static/img/Tinnacriss.jpeg" >
                    </div>

                    <div class="blogCard2">
                        <div class="blogdetails">
                            <small>{{blog.time_posted.strftime("%Y-%m-%d")}} .2min</small>

                            <!-- <h4>Detoxing my social media feed</h4> -->
                            <h4>{{blog.title}}</h4>
                            <!-- <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading....</p> -->
                            <p>{{blog.sub_title}}</p>
    
                        </div>
                        <hr>
                        <small>0 comments</small>
                            
                        
                        </div>
                    </div>
                    
                    
                    {%endfor%}

                    
                      
</div>           
                    
<section class="home-newsletter">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div class="single">
            <h2>Join the Conversations</h2>
            <p>Get the content you need, just when you need it</p>
        <div class="input-group">
             <input type="email" class="form-control" placeholder="Enter your email">
             <span class="input-group-btn">
             <button class="btn btn-theme" type="submit">Subscribe</button>
             </span>
              </div>
        </div>
    </div>
    </div>
    </div>
    </section>
{%endblock%}




